body,
html {
  height: 100%;
  background-color: rgb(0, 0, 79);
  overflow-x: hidden;
}

.billboard {
  margin: 90px 0px 100px 0px;
  height: 100%;
}

#headline {
  font-family: "Domine", sans-serif;
  font-size: 800%;
  color: white;
  font-weight: bold;
}

#jumbotron_picture {
  background-image: url("../images/sdally_selfie.jpg");
  height: 300px;
  vertical-align: middle;
}

.sub_headline {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 200%;
}
.sub_headline_year {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 300%;
}
.sub_headline_reelect {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic;
  font-size: 230%;
}
.lead {
  font-family: "Domine", sans-serif;
  color: white;
}

.sticky_nav {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 20;
}

.navbar_menu {
  /* background: #fefefa; */
  background: white;
  height: 50px;
}

.nav_link {
  font-family: "Lato", sans-serif;
  color: black;
  text-decoration: none;
  padding: 12px 10px 0px 10px;
  position: relative;
}

.nav_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover {
  color: black;
  cursor: pointer;
}

.star {
  color: white;
}

.candidate_statement_row {
  margin: 150px 0px 0px 0px;
  background: rgb(55, 1, 79);
  height: 150%;
}

.candidate_statement {
  margin: 80px 0px 0px 0px;
}

#candidate_statement_headline {
  font-family: "Domine", sans-serif;
  font-size: 500%;
  color: white;
  font-weight: bold;
}

.candidate_statement_paragraph {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 110%;
}

#candidate_photo {
  height: 100%;
}

#sDally_withStudent {
  height: 100%;
}

#connect {
  background: rgb(0, 64, 154);
  height: 80%;
  padding: 50px 0px 50px 0px;
}

.connect_facebook_wrapper {
  margin-top: 5%;
}
.connect_form_wrapper {
  background: rgb(21, 116, 250);
}

#contact_form {
  padding: 20px 10px 20px 10px;
}

.contact_form_inputs_buttons {
  width: 100%;
  border-radius: 5px;
  margin: 8px 0px 8px 0px;
  padding: 8px 0px 8px 0px;
}

#connect_with_me {
  font-family: "Domine", sans-serif;
  font-size: 500%;
  color: white;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
}

#connect_submit_button {
  color: white;
  font-family: "Domine", sans-serif;
  font-size: 150%;
  background: rgb(31, 80, 255);
}

input::placeholder {
  color: gray;
  font-family: "Domine", sans-serif;
  font-size: 110%;
}

textarea {
  color: gray;
  font-family: "Domine", sans-serif;
  font-size: 110%;
}
.connect_form_header {
  font-family: "Domine", sans-serif;
  font-size: 200%;
  color: white;
  font-weight: bold;
}
.connect_logos {
  margin: 0px 15px 0px 15px;
}
#facebook_logo {
  width: 50px;
  margin: 30px 0px 0px 0px;
}
#mail_logo {
  width: 55px;
}

#donate {
  padding: 5% 0% 250px 0%;
  background: white;
  margin: 50px auto 0px auto;
}

.donate_button_wrapper {
  width: 30%;
  margin: auto;
}

.donate_button_wrapper a:hover {
  text-decoration: none;
  opacity: 0.7;
}
#donate_with_me {
  font-family: "Domine", sans-serif;
  font-size: 500%;
  color: rgb(55, 1, 79);
  font-weight: bold;
  margin: 22px 0px 30px 0px;
}

.donate_crowd_pac_main {
  color: white;
  font-family: "Domine", sans-serif;
  font-size: 120%;
  padding: 40px 20px;
  border: 3px solid white;
  /* width: 30%; */
  margin: auto;
  background: limegreen;
  filter: drop-shadow(0 0 0.25rem rgb(55, 1, 79));
}

.dot {
  height: 120px;
  width: 120px;
  background-color: limegreen;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 50px 0px 30px;
  filter: drop-shadow(0 0 0.25rem rgb(55, 1, 79));
  border: 3px solid white;
}

.dot:hover {
  opacity: 0.7;
}
.dot_paragraph {
  font-size: 200%;
  font-family: "Domine", sans-serif;
  color: white;
  margin: 40% 15%;
}

.error {
  color: rgb(252, 63, 63);
  font-size: 120%;
}

#endorsed_by {
  font-family: "Domine", sans-serif;
  font-size: 500%;
  color: white;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
}

#sDally_with_teacher {
  width: 100%;
}
#endorsement_div_wrapper {
  background: rgb(68, 0, 184);
}

#vta_endorsement {
  width: 30%;
  padding-top: 3%;
  margin-bottom: 15px;
}

#individual_endorsements {
  color: white;
  font-family: "Domine", sans-serif;
}
#endorsement_names {
  display: inline;
  color: white;
  font-family: "Lato", sans-serif;
}
footer {
  color: white;
  height: 70px;
  font-family: "Lato", sans-serif;
  font-size: 120%;
}

#paid_for {
  margin: 30px 0px 10px 0px;
}
#footer_re-elect {
  margin: 30px 0px 10px 0px;
}
#footer_contact {
  margin: 30px 0px 10px 0px;
}

#endorsement_form {
  width: 90%;
  margin-top: 3%;
}

#endorse_button {
  color: white;
  font-family: "Domine", sans-serif;
  font-size: 150%;
  background: rgb(31, 80, 255);
}
@media only screen and (max-width: 550px) {
  .navbar_menu {
    height: 100px;
  }
}
@media only screen and (max-width: 426px) {
  .donate_button_wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .navbar_menu {
    height: 150px;
  }
}
