body,
html {
  height: 100%;
  background-color: rgb(0, 0, 79);
}

.billboard {
  margin: 50px 0px 0px 0px;
  height: 100%;
}

#headline {
  font-family: "Domine", sans-serif;
  font-size: 800%;
  color: white;
  font-weight: bold;
}

#jumbotron_picture {
  background-image: url("../images/sdally_selfie.jpg");
  height: 300px;
  opacity: 0.9;
  border: 1px solid white;
  box-shadow: 20px 20px 50px black;
  vertical-align: middle;
}

.sub_headline {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 200%;
}
.sub_headline_year {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 300%;
}
.sub_headline_reelect {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic;
  font-size: 230%;
}
.lead {
  font-family: "Domine", sans-serif;
  color: white;
}

.sticky_nav {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 20;
}

.navbar_menu {
  /* background: #fefefa; */
  background: white;
  height: 50px;
}

.nav_link {
  font-family: "Lato", sans-serif;
  color: black;
  text-decoration: none;
  padding: 12px 10px 0px 10px;
  position: relative;
}

.nav_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover {
  color: black;
}

.star {
  color: white;
}

.candidate_statement_row {
  margin: 150px 0px 150px 0px;
}

.candidate_statement {
  background: white;
  box-shadow: 20px 20px 50px black;
}

.candidate_statement_paragraph {
  color: black;
  font-family: "Lato", sans-serif;
}
